<%= SqueezeWeb.MenuView.topbar(assigns) do %>
  <span class="h4 mb-0 text-uppercase d-none d-lg-inline-block">
    <%= gettext("Training Plans") %>
  </span>
<% end %>

<div class="header bg-waves pb-5 pt-5 pt-md-6">
  <div class="container-fluid">
    <h1>Coming Soon.</h1>
  </div>
</div>
