<div class="step-container">
  <div class="step">
    <div class="step-header">
      <%= render SqueezeWeb.MenuView, "menu.html", assigns %>
    </div>
    <h2>Training Plan: Week <%= @week %></h2>

    <%= render "form.html", Map.put(assigns, :action, plan_path(@conn, :create, @week)) %>
  </div>
</div>
