<h2>Show Plan</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @plan.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.plan_path(@conn, :edit, @plan) %></span>
<span><%= link "Back", to: Routes.plan_path(@conn, :index) %></span>
