<%= if show_component?(assigns) do %>
  <div class="card bg-gradient-orange">
    <div class="card-body">
      <div class="h3 text-white">Load Strava History</div>

      <p class="text-sm text-white">
        Import all of your runs and activities from Strava to OpenPace.
      </p>

      <button phx-click="load_history" phx-target=<%= @myself %> class="btn btn-sm btn-secondary">
        <%= gettext("Sync History") %>
      </button>
    </div>
  </div>
<% end %>
