<img class="waves" src="/images/waves.svg" />

<div class="landing page">
  <div class="header">
    <%= link("Squeeze", to: "/", class: "logo") %>
    <%= render SqueezeWeb.MenuView, "menu.html", assigns %>
  </div>

  <div class="hero section">
    <h1>I am training to run a</h1>

    <%= render "form.html", Map.put(assigns, :action, wizard_path(@conn, :update, @step)) %>
  </div>
</div>
