<main role="main">
  <!-- Navbar -->
  <%= render SqueezeWeb.MenuView, "base-navbar.html", assigns %>

  <div class="mx-auto max-w-4xl container pt-4 pb-8">
    <h1><strong>Help and Support</strong></h1>
    <p>For help and support, please email help@openpace.co.</p>
  </div>
</main>


