<%= form_for @conn, @action, [class: "ui form"], fn f -> %>
  <div class="mb-6">
<.input field={f[:email]} placeholder={gettext("Email")} type="email" />
  </div>

  <div class="text-center">
  <.button class="w-full">
  <%= gettext("Reset Password") %>
  </.button>
  </div>
<% end %>
