<div class="avatar <%= avatar_size(assigns) %> <%= bg_color(@user) %> text-bold rounded-circle">
  <%= if @user.avatar do %>
    <img alt="<%= full_name(@user) %>" src="<%= @user.avatar %>" />
  <% else %>
    <%= initials(@user) %>
  <% end %>
</div>
