<div class="avatar <%= avatar_size(assigns) %> <%= bg_color(@user) %> text-bold rounded-circle position-relative">
  <span class="position-absolute">
    <%= initials(@user) %>
  </span>

  <%= if @user.avatar do %>
    <img class="position-absolute" alt="<%= full_name(@user) %>" src="<%= @user.avatar %>" />
  <% end %>
</div>
