<span class={class_list(assigns)}>
  <span class="position-absolute">
    <%= initials(@user) %>
  </span>

  <%= if @user.avatar do %>
    <img class="position-absolute" alt={full_name(@user)} src={@user.avatar} />
  <% end %>
</span>
