<div class="col p-2 d-none d-md-block">
  <div class="small mb-2">
    Summary
  </div>

  <%= unless Enum.empty?(@activities) do %>
    <div class="h2">
      <span class="text-green">
        <%= completed_distance(assigns) %><%= distance_label(assigns) %>
      </span>
    </div>
  <% end %>
</div>
