<div class="activity-chart">
  <canvas id="chart2"
          data-dataset="<%= pace(assigns) %>">
  </canvas>
  <canvas id="chart3"
          data-dataset="<%= heartrate(assigns) %>">
  </canvas>
  <canvas id="chart4"
          data-dataset="<%= elevation(assigns) %>">
  </canvas>
</div>
