<div id="activity-chart"
     data-altitude="<%= altitude(assigns) %>"
     data-cadence="<%= cadence(assigns) %>"
     data-distance="<%= distance(assigns) %>"
     data-heartrate="<%= heartrate(assigns) %>"
     data-velocity="<%= velocity(assigns) %>"
     data-imperial="<%= @current_user.user_prefs.imperial %>"
>
</div>
