<div class="container-fluid pt-5 pb-8">
  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3>
            Create a New Activity
          </h3>
        </div>

        <div class="card-body">
          <%= render "form.html", Map.put(assigns, :action, Routes.activity_path(@conn, :create)) %>
        </div>
      </div>
    </div>
  </div>
</div>
