<div class="container container-dashboard">
  <div class="row mt-5">
    <div class="col-9">
      <div class="card">
        <div phx-hook="ActivityBubbleChart" id="activity-bubble-chart" style="aspect-ratio: 2 / 1;">
          <div class="tooltip position-absolute"></div>
        </div>
      </div>

      <div class="col-3">
      </div>
    </div>
  </div>
</div>
