.btn-strava {
  width: 200px;
}

.namer-example-txt {
  position: absolute;
  top: 75px;
  left: 12px;
  color: $black;
  font-weight: 600;

  @include media-breakpoint-up(md) {
    top: 44px;
    font-size: 12px;
    left: 6px;
  }

  @include media-breakpoint-up(lg) {
    top: 62px;
    font-size: 14px;
    left: 8px;
  }

  @include media-breakpoint-up(xl) {
    top: 80px;
    font-size: 16px;
    left: 12px;
  }
}
