<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @view_module.title(@view_template, assigns) %> | OpenPace</title>
    <%= render SqueezeWeb.SharedView, "head.html", assigns %>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>" defer></script>
  </head>

  <body>
    <%= render SqueezeWeb.SharedView, "flash.html", assigns %>
    <%= @inner_content %>
    <%= render SqueezeWeb.MenuView, "footer.html", assigns %>
  </body>
</html>
