<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @view_module.title(@view_template, assigns) %> | Squeeze</title>
    <%= render SqueezeWeb.SharedView, "head.html", assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <%= render SqueezeWeb.SharedView, "flash.html", assigns %>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
