<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @view_module.title(@view_template, assigns) %> | Squeeze</title>
    <%= render SqueezeWeb.SharedView, "head.html", assigns %>
    <script src="<%= static_path(@conn, "/js/dashboard.js") %>" defer></script>
  </head>

  <body>
    <%= render SqueezeWeb.MenuView, "sidebar.html", assigns %>

    <div class="main-content">
      <%= render SqueezeWeb.SharedView, "flash.html", assigns %>
      <%= render @view_module, @view_template, assigns %>
    </div>

    <%= unless @current_user.registered do %>
      <%= render SqueezeWeb.ModalView, "auth.html", assigns %>
    <% end %>
  </body>
</html>
