<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @view_module.title(@view_template, assigns) %> | Squeeze</title>
    <%= render SqueezeWeb.SharedView, "head.html", assigns %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
