<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <%= csrf_meta_tag() %>

    <%= live_title_tag(assigns[:page_title] || "Dashboard", suffix: " · OpenPace") %>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      phx-track-static
      href={Routes.static_path(SqueezeWeb.Endpoint, "/images/favicon.png")}
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(SqueezeWeb.Endpoint, "/assets/app.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(SqueezeWeb.Endpoint, "/assets/dashboard.css")}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(SqueezeWeb.Endpoint, "/assets/dashboard.js")}
    >
    </script>

    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

    <script>
      window.MAPBOX_ACCESS_TOKEN = '<%= Application.get_env(:squeeze, :mapbox_access_token) %>';
    </script>

    <% gtm_id = Application.get_env(:squeeze, :gtm_id) %>
    <%= if gtm_id && gtm_id != "" do %>
      <!-- Google Tag Manager -->
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
              })(window,document,'script','dataLayer','<%= gtm_id %>');
      </script>
      <!-- End Google Tag Manager -->
    <% end %>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <%= @inner_content %>
  </body>
</html>
