<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link("Home", to: "/") %>
  </li>
  <li class="breadcrumb-item">
    <a href="#">
      <%= distance_type(assigns)  %>
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="#">
      <%= @race.state %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @race.name %>
  </li>
</ol>
