<% start_at = start_at(assigns) %>
<%= if start_at do %>
  <h3>When is the <%= @race.name %>?</h3>
  <p>The <%= @race.name %> starts on <%= date(assigns) %> at <%= time(assigns) %>.</p>
<% end %>

<h3>Is the <%= @race.name %> a Boston Qualifier?</h3>
<%= if @race.boston_qualifier do %>
  <p>Yes, the <%= @race.name %> is a Boston Qualifier.</p>
<% else %>
  <p>No, the <%= @race.name %> is not a Boston Qualifier.</p>
<% end %>
