<div class="mb-4">
  <h1 class="display-2">
    <%= h1(assigns) %>
  </h1>
  <p class="mt-0 ">
    <%= date(assigns) %> | <%= time(assigns) %> | <%= location(assigns) %> |
    <a href="<%= @race.url %>">Official Race Website</a>
  </p>
</div>
