<div class="mb-4">
  <h1 class="display-2">
    <%= h1(assigns) %>
  </h1>
  <p class="mt-0 ">
    <%= if start_at(assigns) do %>
      <%= date(assigns) %> | <%= time(assigns) %> |
    <% end %>
    <%= location(assigns) %>
    <%= if @race.url do %>
      | <a href="<%= @race.url %>">Official Race Website</a>
    <% end %>
  </p>
</div>
