Hi <%= @user.first_name %>,

You recently requested to reset your password for your Squeeze account. Use the link below to reset it. This password reset is only valid for the next 24 hours.

<%= @link %>

Thanks,

The <%= company_name() %> Team
