.button {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-image: linear-gradient(to left, #faba61, #f76b1c);
  box-shadow: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  text-align: center;
}
