.calendar.container {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.calendar.title {
}

.calendar.date {
  $border: solid 2px $background;
  $height: 100%;
  $width: 100%;
  border-right: $border;
  border-bottom: $border;
  height: $height/5;
  padding: 4px 8px;
  width: $width/7;
}
