.calendar.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.calendar.date {
  $height: 100%;
  $width: 100%;
  height: $height/5;
  width: $width/7;
}

.four_weeks {
  .calendar.date {
    $height: 100%;
    height: $height/4;
  }
}
