@import 'variables';

.landing.page {
  background: $white;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

  .header {
    margin: auto;
    max-width: 60em;
    padding: 2em;
  }

  .logo {
    font-family: $serif;
    font-size: 30px;
  }

  .section {
    margin: auto;
    max-width: 30em;
    padding: 2em;
  }

  .hero {
    height: calc(100vh - #{$header-height});
    position: relative;
    width: 100%;
  }

  h1 {
    color: $dark-gray;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
  }

  .dropdown {
    margin-bottom: 4em;
    position: relative;
  }

  .primary.button {
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-image: linear-gradient(to left, #faba61, #f76b1c);
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: $white;
  }

  .waves {
    position: absolute;
    top: -400px;
    left: 0;
  }

  .footer {
    position: relative;
  }
}
