@import 'variables';

.ui.masthead.segment {
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  padding: 3em;

  h1.ui.header {
    font-size: 5em;
  }

  .ui.text.container {
    margin-top: 8em;
    margin-bottom: 8em;
  }

  .strava.button {
    height: 48px;
  }
}

.footer.segment {
  padding: 5em 0;
}
