@import 'variables';

* {
  box-sizing: border-box;
}

a {
  color: $dark-gray;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html, body {
  -webkit-font-smoothing: antialiased;

  background: $background;
  box-sizing: border-box;
  color: $dark-gray;
  font-family: $sans-serif;
  font-size: 16px;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  // display: flex;
}

p.alert {
  margin: 0;
}

main.ui {
  $padding: 24px;

  height: 100%;
  margin: 0;
  padding: 24px;
  padding-left: $padding + $sidebar-width;
  width: 100%;
}

.ui.container {
  background: $white;
  padding: 24px;
  width: 100%;

  > h2 {
    margin-top: 0;
  }
}

table {
  width: 100%;

  th {
    text-align: left;
  }
}

.turbolinks-progress-bar {
  background-color: $melon;
}

