.step-container {
  height: 100%;
  padding: 2em;
  position: relative;
}

.step {
  height: 100%;
  width: 100%;
  position: relative;

  h2 {
    margin: 0;
    max-width: 245px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e2124;
  }

  input {
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #f9f9f9;

    font-size: 20px;
    color: #abacaf;

    padding: 14px;

    position: relative;
  }

  .primary.button {
    margin-top: 3em;
    position: absolute;
    bottom: 0;
  }
}
