@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');

// Colors
$gradient-start: #f2854c;
$gradient-end: #ed4a6b;

$melon: #ff8552;
$dark-gray: #484848;

// Gray
$background: #f3f5f7;

// Fonts
$serif: 'Bree Serif', serif;
$sans-serif: 'Open Sans', sans-serif;

