@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');

@font-face {
  font-family: 'digital';
  src: url('/fonts/digital.ttf');
}

// Colors
$gradient-start: #f2854c;
$gradient-end: #ed4a6b;

$melon: #ff8552;
$black: #1e2124;
$dark-gray: #484848;
$medium-gray: #6d6d6d;
$gray: #abacaf;
$dull-yellow: #e9d758;
$white: #fff;

// Gray
$background: #f3f5f7;

// Fonts
$serif: 'Bree Serif', serif;
$sans-serif: 'Open Sans', sans-serif;
$digital: 'digital', sans-serif;

// Shadows
$box-shadow: 0 0 20px 0 rgba(230, 230, 230, 0.5);

// Constants
$header-height: 104px;
$calendar-header-height: 30px;
$sidebar-width: 250px;
