// Breakpoints
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Colors
$gradient-start: #f2854c;
$gradient-end: #ed4a6b;

$melon: #ff8552;
$black: #1e2124;
$dark-gray: #484848;
$medium-gray: #6d6d6d;
$gray: #abacaf;
$dull-yellow: #e9d758;
$white: #fff;

// Gray
$background: #f3f5f7;

// Fonts
$serif: 'Bree Serif', serif;
$sans-serif: 'Open Sans', sans-serif;
$digital: 'digital', sans-serif;

// Shadows
$box-shadow: 0 0 20px 0 rgba(230, 230, 230, 0.5);

// Constants
$header-height: 104px;

// Z-Index
$background: 1;
$foreground: 2;
$z-menu: 3;
