<h1 class="display-4 font-weight-normal">
  <%= gettext "Connect your Strava Account?" %>
</h1>

<p>
  <%= gettext "Automatically update your training status through Strava." %>
</p>

<%= link to: auth_path(@conn, :request, "strava") do %>
  <img alt="<%= gettext("Sign in with Strava") %>" class="shadow" src="/images/btn_strava.svg" />
<% end %>

<div>
  <%= link(gettext("Skip"), to: dashboard_path(@conn, :index), class: "btn btn-link") %>
</div>
