<h2>Connect your Strava Account?</h2>
<p>Automatically update your training status through Strava.</p>

<div class="actions">
  <%= link to: auth_path(@conn, :request, "strava"), class: "strava-btn" do %>
    <img alt="Sign in with Strava" src="/images/btn_strava.svg" />
  <% end %>

  <%= link("Skip", to: dashboard_path(@conn, :index), class: "link") %>
</div>
