<h1 class="display-4 font-weight-normal">
  <%= gettext("What is your goal time?") %>
</h1>

<%= async_form @changeset, wizard_path(@conn, :update, @step), fn f -> %>
  <div class="form-group">
    <%= duration_select f, :duration, class: "form-control" %>
    <%= error_tag f, :duration, class: "d-block" %>
  </div>

  <%= submit gettext("Next"), class: "btn btn-primary" %>
<% end %>
