<h1 class="display-4 font-weight-normal">
  What is your goal time?
</h1>

<%= async_form @changeset, wizard_path(@conn, :update, @step), fn f -> %>
  <div class="form-group">
    <%= duration_select f, :duration, class: "form-control" %>
    <%= error_tag f, :duration %>
  </div>

  <%= submit "Next", class: "btn btn-primary" %>
<% end %>
