<h2>You are looking for a <%= improvement_amount(@current_user) %> improvement</h2>
<p>
  You have set your goals high! Let's build your training program.
</p>

<%= link "Next", to: wizard_path(@conn, :step, "connect"), class: "primary button" %>
