<h1 class="display-4 font-weight-normal">
  <%= gettext "You are looking for a %{percent} improvement",
    percent: improvement_amount(@current_user) %>
</h1>

<p>
  <%= gettext "You have set your goals high! Let's build your training program." %>
</p>

<%= link gettext("Next"), to: Routes.overview_path(@conn, :index, welcome: "true"), class: "btn btn-primary" %>
