<h1 class="display-4 font-weight-normal">What is your current personal record?</h1>

<%= async_form @changeset, wizard_path(@conn, :update, @step), fn f -> %>
  <div class="form-group">
    <%= duration_select f, :personal_record, class: "form-control" %>
    <%= error_tag f, :personal_record %>
  </div>

  <%= submit "Next", class: "btn btn-primary" %>
<% end %>
