<img class="waves" src="/images/waves.svg" />

<div class="step-container">
  <div class="step">
    <div class="step-header">
      <i class="icon-menu"></i>
    </div>

    <%= render "#{@step}.html", assigns %>
  </div>
</div>
