<div class="step-container">
  <div class="step">
    <div class="step-header">
    </div>

    <%= render "#{@step}.html", assigns %>
  </div>

  <%= render SqueezeWeb.SharedView, "waves.html", assigns %>
</div>
