<div class="step-container">
  <div class="step">
    <div class="step-header">
      <%= render SqueezeWeb.MenuView, "menu.html", assigns %>
    </div>

    <%= render "#{@step}.html", assigns %>
  </div>

  <img class="waves" src="/images/waves.svg" />
</div>
