<div class="card">
  <div class="card-header">
    <h3 class="mb-0">Choose Dates</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="d-flex justify-content-center pt-4">
        <%= text_input @form, :date_range, class: "form-control date-picker d-none", data: [range: true, inline: true] %>
      </div>

      <%= error_tag @form, :start_date %>
      <%= error_tag @form, :end_date %>
    </div>
  </div>
</div>
