.calendar {
  height: calc(100vh - #{map_get($spacers, 7)});
}

.date-label {
  &.active {
    background: $primary;
    border-radius: 50%;
    color: $white;
    height: $font-size-xl;
    text-align: center;
    width: $font-size-xl;
  }
}

.month.calendar {
  $width: 100%;

  .calendar-date {
    width: $width/7;
  }
}

.btn-calendar-activity {
  width: 100%;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  color: $gray-500;
  background-color: $gray-200;
  border-radius: $border-radius;
  line-height: 16px;
  padding: 0.35rem 0.375rem;
}

.calendar-date:hover {
  .btn-calendar-activity {
    opacity: 1;
  }
}
