.calendar {
  height: calc(100vh - #{map_get($spacers, 7)});
}

.date-label {
  &.active {
    background: $primary;
    border-radius: 50%;
    color: $white;
    height: $font-size-xl;
    text-align: center;
    width: $font-size-xl;
  }
}

.month.calendar {
  $width: 100%;

  .calendar-date {
    width: $width/7;
  }
}
