<div class="ui text container">
  <h2>Edit Event</h2>

  <span><%= link "Back", to: event_path(@conn, :index) %></span>

  <%= render "form.html", Map.put(assigns, :action, event_path(@conn, :update, @event)) %>
</div>
