<%= form_for @conn, @action, [as: "events[]"], fn f -> %>
  <%= for changeset <- @changesets do %>
    <div>
      <%= day_name(changeset.data.date) %>
      <%= hidden_input f, :id, step: "any", value: changeset.data.id %>
      <%= text_input f, :distance, step: "any", value: changeset.data.distance %>
      <%= hidden_input f, :date, step: "any", value: changeset.data.date %>
    </div>
  <% end %>

  <%= submit "Submit", class: "ui submit button" %>
<% end %>
