<div class="calendar title">
  <%= Timex.format!(@date, "%B %Y", :strftime) %>

  <%= link "Today", to: dashboard_path(@conn, :index) %>
  <%= link "<", to: dashboard_path(@conn, :index, date: previous(@date)) %>
  <%= link ">", to: dashboard_path(@conn, :index, date: next(@date)) %>
</div>

<div class="calendar container">
  <%= for date <- dates(@date) do %>
    <div class="calendar date">
      <%= date.day %>
    </div>
  <% end %>
</div>
