<div class="header bg-waves pb-5 pt-5">
  <div class="container-fluid">
    <div class="card d-flex flex-wrap flex-row calendar">
      <%= content_tag(:div, class: "p-1") do %>
        <div class="pb-1">
          <%= date_label(@date) %>
        </div>

        <%= render SqueezeWeb.CalendarActivityView, "summary.html", assigns %>
      <% end %>
    </div>
  </div>
</div>
