//
// Custom checkbox
//

.custom-checkbox {
    .custom-control-input ~ .custom-control-label {
        cursor: pointer;
        font-size: $font-size-sm;
        height: $custom-control-indicator-size;
    }
}


// Color variations

@each $color, $value in $theme-colors {
    .custom-checkbox-#{$color} {
        @include custom-checkbox-variant($value);
    }
}
