<div class="mb-2">
  <%= if integration?("strava", assigns) do %>
    <%= gettext("Connected to Strava") %>
  <% else %>
    <%= link to: auth_path(@conn, :request, "strava") do %>
      <img alt="<%= gettext("Sign in with Strava") %>" src="/images/btn_strava.svg" />
    <% end %>
  <% end %>
</div>
