aside.sidebar {
  background: white;
  box-shadow: $box-shadow;
  height: 100%;
  padding: 24px;
  position: fixed;
  width: $sidebar-width;

  .logo {
    font-family: $serif;
    font-size: 30px;
    margin: 0 auto 10px auto;
    text-align: center;

    a {
      color: $melon;
    }

    a:hover {
      color: darken($melon, 5);
    }
  }

  .user {
    text-align: center;
  }

  .avatar {
    $size: 60px;
    border: 2px #e6e6e6 solid;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 #e6e6e6;
    height: $size;
    width: $size;
  }

  .name {
    color: rgba(72, 72, 72, 0.75);
    font-weight: 600;
    text-transform: uppercase;
  }

  .links {
    margin: 50px -24px 100px;
    padding-left: 0;

    li {
      margin-bottom: 14px;
      position: relative;

    }

    li.active:before {
      background-color: $dull-yellow;
      content: '';
      height: 100%;
      left: 1px;
      position: absolute;
      width: 4px;
    }

    a {
      display: flex;
      line-height: 24px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }

    i {
      font-size: 24px;
      margin-left: 24px;
      margin-right: 12px;
    }
  }

  .title {
    color: #9b9b9b;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  .progress {
    background-image: linear-gradient(to right, #fad961, #f76b1c);
    border-radius: 4px;
    margin-bottom: 40px;
    width: 100%;
    height: 8px;
  }

  .workout.event {
    font-size: 30px;
    text-align: center;
    color: $dark-gray;
  }
}
