aside.sidebar {
  background: white;
  box-shadow: 0 0 20px 0 rgba(230, 230, 230, 0.5);
  height: 100%;
  width: 300px;

  .logo {
    font-family: $serif;
    font-size: 30px;
    margin: 24px auto 10px auto;
    text-align: center;

    a {
      color: $melon;
    }

    a:hover {
      color: darken($melon, 5);
    }
  }

  .user {
    text-align: center;
  }

  .avatar {
    $size: 60px;
    border: 2px #e6e6e6 solid;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 #e6e6e6;
    height: $size;
    width: $size;
  }

  .name {
    color: rgba(72, 72, 72, 0.75);
    font-weight: 600;
    text-transform: uppercase;
  }

  .links {
    margin-top: 50px;
    padding-left: 0;

    li {
      margin-bottom: 14px;
      position: relative;

    }

    li.active:before {
      background-color: $dull-yellow;
      content: '';
      height: 100%;
      left: 1px;
      position: absolute;
      width: 4px;
    }

    a {
      display: flex;
      line-height: 24px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }

    i {
      font-size: 24px;
      margin-left: 24px;
      margin-right: 12px;
    }
  }

}
