<header class="ui borderless fixed menu">
  <%= link to: "/", class: "header item" do %>
    <img alt="Squeeze" src="/images/logo.jpg"/>
    Squeeze
  <% end %>

  <div class="right menu">
    <div class="item">
      <img class="ui avatar image" src="<%= @current_user.avatar %>">
    </div>
  </div>
</header>

