<%= if @current_user do %>
  <h2>Welcome, <%= @current_user.name %>!</h2>
<% else %>
  <%= link to: auth_path(@conn, :index, "fitbit"), class: "btn btn-primary" do %>
    Sign in with Fitbit
  <% end %>
<% end %>
