<section class="py-6 py-md-8">
  <div class="container">
    <div class="row mb-8">
      <div class="col-12">
        <img alt="<%= gettext("Dashboard Preview") %>" src="<%= Routes.static_path(@conn, "/images/home/overview@1x.jpg") %>" class="img-fluid floating shadow">
      </div>
    </div>
  </div>
</section>

