<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "<%= Routes.home_url(@conn, :index) %>",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "<%= Routes.home_url(@conn, :index) %>search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
