<%= form_for @changeset, @action, [class: "ui form"], fn f -> %>
  <div class="input-group mb-3">
    <%= input f, :email, placeholder: gettext("Email"), class: "form-control" %>

    <div class="input-group-append">
      <%= submit gettext("Request Access"), class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
