<main>
  <%= render "_hero.html", assigns %>
  <%= render "_features.html", assigns %>
  <%= render "_measure-performance.html", assigns %>
  <%= render "_open-source.html", assigns %>
  <%= render "_footer-cta.html", assigns %>
</main>
